img {
    image-rendering: optimizeSpeed;
    object-fit: contain;
    max-width: 100%;
}

.banner {
    font-weight: bold;
    align-items: center;
    background-color: rgb(154, 154, 255);
    height: 2rem;
    color: var(--dark);
}

.hero {
    background: rgb(29, 29, 29);
    height: 30rem;
    max-width: 87rem;
    display: inherit;
    margin-top: 1rem;
}

.hero-alt {
    background: rgb(45, 56, 102);
}

.hero-info {
    flex-direction: column;
    text-align: center;
    color: var(--light);
    justify-content: center;
    padding: 3rem 0rem;
}

.hero-text {
    font-size: 1.3rem;
    padding: 1rem 3rem;
}

.hero-title {
    padding-top: 0rem;
    font-size: 1.5rem;
}

.hero-button, .hero-button::after {
    padding: 0rem;
    margin: 2rem auto;
    font-weight: bold;
    width: 9rem;
    height: 2.7rem;
    border-radius: 1.25rem;
    background-color: var(--light-tr);
    border: var(--border) solid .15rem;
    transition: ease-out .5s;
}

.hero-button:hover {
    animation: reverse;
    transition: ease-in .5s;
    background-color: rgba(166, 166, 166, 0.3);
    border: var(--light-tr) solid .15rem;
    color: var(--light);
}

.hero-img {
    min-width: 50%;
    height: 100%;
    object-fit: cover;
}

.offers-intro {
    font-size: 1.15rem;
    margin: 1rem 0rem 0rem 0rem;
    display: flex;
    justify-content: center;
}

.offers {
    display: flex;
    overflow-x: auto;
}

.offers::-webkit-scrollbar {
    height: .6rem;
}

.offers::-webkit-scrollbar-thumb {
    background-color: var(--border);
    border-radius: .3rem;
}

.offers-item {
    background-color: #ffffff;
    height: 18rem;
    min-width: 14rem;
    padding: .9rem;
    margin: .5rem .5rem 0rem .5rem;
    text-overflow: hidden;
    border-radius: 1rem;
    border: var(--border) solid .15rem;
}

.offers-pic {
    height: 60%;
}

.offers-title {
    font-size: 1.3rem;
}

.offers-price {
    font-weight: bold;
}

.offers-discount {
    padding: .5rem 0rem;
}

@media(max-width: 47rem){
    .hero {
        flex-direction: column-reverse;
        height: auto;
        max-width: 50rem;
    }

    .hero-alt {
        flex-direction: column;
    }

    .hero-info {
        padding: 2.6rem 0rem;
    }

    .hero-text {
        font-size: 1rem;
        padding: 1rem 2rem;
    }

    .hero-title {
        padding-top: 0rem;
        font-size: 1.3rem;
    }

    .hero-button, .hero-button::after {
        padding: 0;
        width: 8rem;
        height: 2.5rem;
    }

    .hero-img {
        min-height: 40%;
    }

    .offers-item {
        height: 16rem;
        min-width: 12.5rem;
    }
}